%h1 Listing users

%table
  %thead
    %tr
      %th Google
      %th Name
      %th Email address
      %th Avatar url
      %th Locale
      %th Hosted domain
      %th
      %th
      %th

  %tbody
    - @users.each do |user|
      %tr
        %td= user.google_id
        %td= user.name
        %td= user.email_address
        %td= user.avatar_url
        %td= user.locale
        %td= user.hosted_domain
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New User', new_user_path
