- provide(:title, 'Account Activity')

%p#notice= notice

%p
  %b Google:
  = @user.google_id
%p
  %b Name:
  = @user.name
%p
  %b Email address:
  = @user.email_address
%p
  %b Avatar
  = image_tag @user.avatar_url, size: 60
  %br
  %b url:
  = @user.avatar_url
%p
  %b Locale:
  = @user.locale
%p
  %b Hosted domain:
  = @user.hosted_domain

%hr
%hr

%p
  %b --Transactions--

-# = link_to 'Edit', edit_user_path(@user)
-# \|
-# = link_to 'Back', users_path
