- provide(:title, 'Account Activity')

%h1
  Payment Activity for
  = @user.name
  = image_tag @user.avatar_url, size: 60, class: 'img-fluid img-thumbnail', alt: 'avatar image'
%p#notice= notice

- if Rails.env.development?
  %p
    %b Google:
    = @user.google_id
%p
  %b Email address:
  = @user.email_address

  - if Rails.env.development?
    %p
      %b Avatar url:
      = @user.avatar_url

- if Rails.env.development?
  %p
    %b Locale:
    = @user.locale
  %p
    %b Hosted domain:
    = @user.hosted_domain

%hr
%hr
- if @users_current_payments.count == 0
  %p
    = link_to "Make a payment", make_payment_path, params: {amount: 35}, class: 'btn btn-sm btn-success'
- elsif @users_current_payments.count == 1
  %p
    = button_to "Pay Deposit #1 ($250)", make_payment_path, params: {amount: 250}, class: 'btn btn-sm btn-success'
- else
  %p
    = button_to "Pay Deposit #2", make_payment_path, params: {amount: 64}, class: 'btn btn-sm btn-success'



%h5 Transactions
%h6
  = "You have paid a total of #{pluralize(number_to_currency(@ttl_paid), 'dollar')} "
.card-deck
  - if @users_current_payments.count == 0
    .card
      .card-body
        %h6.card-title  You have not made a payment yet.
  - else
    - @users_current_payments.each do |payment|
      .card
        .card-header
          Transaction:
          =payment.transactionId
        %ul.list-group-item
          %li.list-group-item
            Credit Card:
            =payment.transactionAcountType
          %li.list-group-item
            Amount:
            ="$#{payment.transactionTotalAmount.chomp('00')}"
          %li.list-group-item
            Date:
            =payment.transactionDate
