- provide(:title, 'Account Activity')

%h1
  Payment Activity for
  = @user.name
  = image_tag @user.avatar_url, size: 60, class: 'img-fluid img-thumbnail', alt: 'avatar image'
%p#notice= notice

- if Rails.env.development?
  %p
    %b Google:
    = @user.google_id
%p
  %b Email address:
  = @user.email_address

  - if Rails.env.development?
    %p
      %b Avatar url:
      = @user.avatar_url

- if Rails.env.development?
  %p
    %b Locale:
    = @user.locale
  %p
    %b Hosted domain:
    = @user.hosted_domain

%hr
%hr
- if @users_current_payments.nil?
  %p
    = link_to "Make a payment", make_payment_path, class: 'btn btn-sm btn-success'

.card
  .card-header.text-center
    Transactions
  .card-body
    %p
      - if @users_current_payments.nil?
        %p
          You have not made a payment yet.
      - else
        %ul.small
          - @users_current_payments.each do |payment|
            %li
              %b
                Transaction:
              =payment.transactionId
              %b
                Credit Card:
              =payment.transactionAcountType
              %b
                Amount:
              ="$#{payment.transactionTotalAmount.chomp('00')}"
              %b
                Date:
              =payment.transactionDate
