- provide(:title, 'Account Activity')

%h1
  Payment Activity for
  = @user.name
  = image_tag @user.avatar_url, size: 60, class: 'img-fluid img-thumbnail', alt: 'avatar image'
%p#notice= notice

- if Rails.env.development?
  %p
    %b Google:
    = @user.google_id
%p
  %b Email address:
  = @user.email_address

  - if Rails.env.development?
    %p
      %b Avatar url:
      = @user.avatar_url

- if Rails.env.development?
  %p
    %b Locale:
    = @user.locale
  %p
    %b Hosted domain:
    = @user.hosted_domain

%hr
%hr

%p
  %b --Transactions--
  = link_to "Make a payment", make_payment_path

-# = link_to 'Edit', edit_user_path(@user)
-# \|
-# = link_to 'Back', users_path
