- provide(:title, 'Payment Receipts')

- if @users_current_payments.count < 1

  %h2 Please pay your $35 application fee.
  %h6
    Pay by Credit Card (Visa, Mastercard, Discover, AMEX)
    .text-muted 
      You will be redirected to
      our credit card processing page where you will be asked to make your
      non-refundable $35 application fee. Payments are securely processed via QuikPAY,
      the preferred gateway service provider of the University of Michigan.
      QuikPAY is a registered trademark of Nelnet Business Solutions, Inc. No
      credit card information is stored on our servers.

  = button_to "Pay application fee", make_payment_path, params: {amount: 35}, class: 'btn btn-sm btn-success'

- else
  %h2 Your Payment Receipts
  %h6.mt-4
    You may email any questions to
    = mail_to 'aknuth@umich.edu'
  %hr.w-75

  .border-success.mb-2.card{:style => "width: 18rem;"}
    %h6.card-header.bg-success.text-white
      Account Summary
    .card-body
      .h6{:style => "font-family: Lucida Console;"}
        = "#{'total_cost'.humanize.ljust(24, '.')} #{number_to_currency(@total_cost).rjust(12,'.')}"
      .h6{:style => "font-family: Lucida Console;"}
        = "#{'amount_paid'.humanize.ljust(20, '.')} #{number_to_currency(@ttl_paid).rjust(12,'.')}"
      %hr
      .h6{:style => "font-family: Lucida Console;"}
        .text-danger
          = "#{'balance_due'.humanize.ljust(22, '.')} #{number_to_currency(@balance_due).rjust(12,'.')}"
    .card-footer
      =form_with url: make_payment_path, local: true do |f|
        .row
          .form-group.align-items-around.ml-4
            .input-group
              .input-group-prepend
                .input-group-text
                  $
              = f.number_field :amount, value: "#{@balance_due.to_i}", within: 1..250, required: true
              = f.submit "Pay Now", class: 'btn btn-sm btn-success ml-2'

  %hr.w-75
  %h6 Your transactions:
  .card-deck
    - @users_current_payments.each do |payment|
      .col-auto.mb-3
        .transaction-receipt.card{:class => ('border-danger' unless payment.transaction_status === "1")}
          %h6.card-header
            = "Transaction ID: #{payment.transaction_id}"
          %ul.list-group.list-group-flush
            %li.list-group-item
              = "Credit Card: #{payment.account_type}"
            %li.list-group-item{:class => ('text-danger' unless payment.transaction_status === "1")}
              Message:
              %br
              =payment.result_message
            %li.list-group-item
              = "Amount: #{number_to_currency(payment.total_amount.to_f / 100 )}"
            %li.list-group-item
              = "Date: #{Time.parse(payment.transaction_date).strftime("%b %e, %Y at %l:%M %p")}"

  .h6.text-muted
    You will receive an email confirmation from
    'MerchantCreditCard&#64;umich.edu' for each transaction.

  %h6
    You may email any questions to
    = mail_to 'aknuth@umich.edu'
