%nav.navbar.navbar-expand-lg.navbar-light.bg-light
  = link_to image_tag(asset_pack_path('images/english_logo.png'), alt: "Nelp Logo, link to home page.", class: 'navbar-brand', id: root_path(anchor: 'page-top')), root_path
  %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
    %span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    %ul.navbar-nav.mr-auto
      %li.nav-item
        = link_to "Home", root_path, :class => 'nav-link'
      %li.nav-item
        = link_to "About", pages_about_path, :class => 'nav-link'
      %li.nav-item
        = link_to "Privacy", pages_privacy_path, :class => 'nav-link'
      %li.nav-item
        = link_to "Terms of Use", pages_terms_of_use_path, :class => 'nav-link'
