%header
  .container-responsive
    %nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
      = link_to image_tag(asset_pack_path('media/images/english_logo.png'), alt: "Nelp Logo, link to home page.", class: 'navbar-brand', id: root_path(anchor: 'page-top')), root_path
      %button.navbar-toggler{"aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-target" => "#navbarSupportedContent", "data-toggle" => "collapse", :type => "button"}
        %span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        %ul.navbar-nav.mr-auto
          %li.nav-item
            = link_to "Home", root_path, :class => 'nav-link'
          %li.nav-item
            = link_to "About", about_path, :class => 'nav-link'
          %li.nav-item
            = link_to "Privacy", privacy_path, :class => 'nav-link'
          %li.nav-item
            = link_to "Terms of Use", terms_of_service_path, :class => 'nav-link'

          - if logged_in?  
            %li.nav-item
              = link_to "Transactions", all_payments_path, :class => 'nav-link text-warning'
      - if logged_in?
        %p.navbar-text.pull-right
          = link_to "Log out", logout_path, method: :delete, :class => 'navbar-link'
          - if current_user_admin?
            |
            = link_to "Admin", admin_root_path, :class => 'navbar-link'
